openapi: 3.0.3
info:
  title: زميل
  version: 1.0.0
servers:
  - url: https://api.zameel.mahmoudahmed.me/
    description: Production Environment
security:
  - BearerAuth: []
paths:

  /notifications:
    get:
      parameters:
        - in: query
          name: interest
          required: true
          schema:
            type: string
          description: Interest key to filter notifications (required)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        title:
                          type: string
                        content:
                          type: string
                          nullable: true
                        interests:
                          type: array
                          items:
                            type: string
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error
      summary: Get notifications filtered by interest
      tags:
        - Notification
  
  /api/login:
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  type: string
                password:
                  type: string
                deviceName:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: '#/components/schemas/UserResource'
                      - type: object
                        properties:
                          token:
                            type: string
        '401':
          description: Unauthenticated
        '422':
          description: Validation error
      summary: Create user token
      tags:
        - Auth
  /api/register:
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
                deviceName:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: '#/components/schemas/UserResource'
                      - type: object
                        properties:
                          token:
                            type: string
        '401':
          description: Unauthenticated
        '422':
          description: Validation error
      summary: Create user
      tags:
        - Auth
  /api/users/update-password:
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                password:
                  type: string
                newPassword:
                  type: string
                newPassword_confirmation:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
        '401':
          description: Unauthenticated
        '422':
          description: Validation error
      summary: Create user
      tags:
        - Auth
  /api/logout:
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: logged out
        '401':
          description: Unauthenticated
      summary: Logout
      tags:
        - Auth
  /api/verify-email:
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                otp:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Email verified.
        '401':
          description: Unauthenticated
        '400':
          description: Email already verified or OTP issue.
        '422':
          description: Validation error
      summary: Verify email
      tags:
        - Auth
  /api/email/verification-notification:
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Email Sent.
        '401':
          description: Unauthenticated
        '400':
          description: Email already verified or OTP issue.
        '502':
          description: Failed To Send Email.
        '422':
          description: Validation error
      summary: Send verification notification
      tags:
        - Auth
  /api/forgot-password:
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Email sent.
        '502':
          description: Failed To Send Email.
        '422':
          description: Validation error
      summary: Send reset link
      tags:
        - Auth
  /api/reset-password:
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                token:
                  type: string
                email:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Password reset.
        '500':
          description: Password reset failed.
        '422':
          description: Validation error
      summary: Reset password
      tags:
        - Auth
  
  /api/posts/deleted:
    get:
      summary: Get soft-deleted posts (cursor pagination)
      tags:
        - Post
      security:
        - BearerAuth: []
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            description: Datetime cursor in "Y-m-d H:i:s" format (validated server-side). Defaults to now.
      responses:
        '200':
          description: OK — list of deleted posts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PostResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
  paths:
  /api/majors/groups:
    get:
      summary: Get majors with recent groups (filtered by education year)
      tags:
        - Major
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK — list of majors with filtered groups relation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/MajorResource'
                        - type: object
                          properties:
                            groups:
                              type: array
                              items:
                                $ref: '#/components/schemas/GroupResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized

  
  /api/groups/{group}/applies:
    get:
      summary: Get applies for a group
      tags:
        - Apply
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
          description: Group ID
      responses:
        '200':
          description: OK — list of applies for the group
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplyResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized

    post:
      summary: Create an apply for a group
      tags:
        - Apply
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
          description: Group ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Apply'
      responses:
        '201':
          description: Apply created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ApplyResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error

  /api/groups/{group}/applies/search:
    post:
      summary: Search applies within a group
      tags:
        - Apply
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - user_id
                          - status_id
                          - created_at
                      operator:
                        type: string
                        enum:
                          - <
                          - <=
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - not like
                          - ilike
                          - not ilike
                          - in
                          - not in
                      value:
                        type: string
      responses:
        '200':
          description: OK — search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplyResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error

  /api/groups/{group}/applies/{apply}:
    get:
      summary: Get a specific apply for a group
      tags:
        - Apply
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
        - name: apply
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ApplyResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found

    delete:
      summary: Delete an apply from a group
      tags:
        - Apply
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
        - name: apply
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Apply deleted
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found

  /api/applies/{apply}/accept:
    post:
      summary: Accept a group apply
      tags:
        - Apply
      security:
        - BearerAuth: []
      parameters:
        - name: apply
          in: path
          required: true
          schema:
            type: integer
          description: Apply ID
      responses:
        '200':
          description: Apply accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: ok.
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found

  /api/applies/{apply}/reject:
    post:
      summary: Reject a group apply (optionally update note)
      tags:
        - Apply
      security:
        - BearerAuth: []
      parameters:
        - name: apply
          in: path
          required: true
          schema:
            type: integer
          description: Apply ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: string
                  description: Optional rejection note (max 255 chars)
      responses:
        '200':
          description: Apply rejected
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: ok.
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
  /api/posts:
    get:
      parameters:
        - in: query
          required: true
          name: cursor
          schema:
            type: string
            format: datetime
          description: datetime in (YYYY-MM-DD hh:mm:ss) format
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PostResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Get posts timeline
      tags:
        - Post
    post:
      parameters:
        - schema:
            type: string
            enum:
              - files
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Post'
                - type: object
                  properties:
                    attachment:
                      type: object
                      properties:
                        type:
                          type: string
                        file:
                          type: string
                          description: Can't exist with images property
                        images:
                          type: array
                          items:
                            type: string
                          description: Can't exist with file property
                      nullable: true
                
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PostResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error
      summary: Create post
      tags:
        - Post
  /api/posts/search:
    post:
      parameters:
        - schema:
            type: string
            enum:
              - files
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scopes:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        enum:
                          - student
                          - academic
                          - admin
                      parameters:
                        type: array
                        items:
                          type: string
                    required:
                      - name
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - created_at
                          - subject_id
                          - user_id
                      operator:
                        type: string
                        enum:
                          - <
                          - <=
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - not like
                          - ilike
                          - not ilike
                          - in
                          - not in
                          - all in
                          - any in
                      value:
                        type: string
                      nested:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - and
                                - or
                            field:
                              type: string
                              enum:
                                - created_at
                                - subject_id
                                - user_id
                            operator:
                              type: string
                              enum:
                                - <
                                - <=
                                - '>'
                                - '>='
                                - '='
                                - '!='
                                - like
                                - not like
                                - ilike
                                - not ilike
                                - in
                                - not in
                                - all in
                                - any in
                            value:
                              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PostResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Search for posts
      tags:
        - Post
  /api/posts/{post}:
    get:
      parameters:
        - schema:
            type: integer
          name: post
          in: path
          required: true
        - schema:
            type: string
            enum:
              - files
          name: include
          in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PostResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Get post
      tags:
        - Post
    delete:
      parameters:
        - schema:
            type: integer
          name: post
          in: path
          required: true
        - schema:
            type: string
            enum:
              - files
          name: include
          in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PostResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Delete post
      tags:
        - Post
  /api/colleges:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/College'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CollegeResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error
      summary: Create college
      tags:
        - College
    get:
      parameters:
        - schema:
            type: boolean
          name: with_trashed
          in: query
        - schema:
            type: boolean
          name: only_trashed
          in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CollegeResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Get a list of colleges
      tags:
        - College
  /api/colleges/search:
    post:
      parameters:
        - schema:
            type: boolean
          name: with_trashed
          in: query
        - schema:
            type: boolean
          name: only_trashed
          in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CollegeResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Search for colleges
      tags:
        - College
  /api/colleges/{college}:
    get:
      parameters:
        - schema:
            type: integer
          name: college
          in: path
          required: true
        - schema:
            type: boolean
          name: with_trashed
          in: query
        - schema:
            type: boolean
          name: only_trashed
          in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CollegeResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Get college
      tags:
        - College
    patch:
      parameters:
        - schema:
            type: integer
          name: college
          in: path
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/College'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CollegeResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
        '422':
          description: Validation error
      summary: Update college
      tags:
        - College
    delete:
      parameters:
        - schema:
            type: integer
          name: college
          in: path
          required: true
        - schema:
            type: boolean
          name: force
          in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CollegeResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Delete college
      tags:
        - College
  /api/colleges/{college}/restore:
    post:
      parameters:
        - schema:
            type: integer
          name: college
          in: path
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CollegeResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Restore college
      tags:
        - College
  /api/majors:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Major'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MajorResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error
      summary: Create major
      tags:
        - Major
    get:
      parameters:
        - schema:
            type: boolean
          name: with_trashed
          in: query
        - schema:
            type: boolean
          name: only_trashed
          in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MajorResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Get a list of majors
      tags:
        - Major
  /api/majors/search:
    post:
      parameters:
        - schema:
            type: boolean
          name: with_trashed
          in: query
        - schema:
            type: boolean
          name: only_trashed
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - college_id
                          - created_at
                      operator:
                        type: string
                        enum:
                          - <
                          - <=
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - not like
                          - ilike
                          - not ilike
                          - in
                          - not in
                          - all in
                          - any in
                      value:
                        type: string
                      nested:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - and
                                - or
                            field:
                              type: string
                              enum:
                                - college_id
                                - created_at
                            operator:
                              type: string
                              enum:
                                - <
                                - <=
                                - '>'
                                - '>='
                                - '='
                                - '!='
                                - like
                                - not like
                                - ilike
                                - not ilike
                                - in
                                - not in
                                - all in
                                - any in
                            value:
                              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MajorResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Search for majors
      tags:
        - Major
  /api/majors/{major}:
    get:
      parameters:
        - schema:
            type: integer
          name: major
          in: path
          required: true
        - schema:
            type: boolean
          name: with_trashed
          in: query
        - schema:
            type: boolean
          name: only_trashed
          in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MajorResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Get major
      tags:
        - Major
    patch:
      parameters:
        - schema:
            type: integer
          name: major
          in: path
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Major'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MajorResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
        '422':
          description: Validation error
      summary: Update major
      tags:
        - Major
    delete:
      parameters:
        - schema:
            type: integer
          name: major
          in: path
          required: true
        - schema:
            type: boolean
          name: force
          in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MajorResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Delete major
      tags:
        - Major
  /api/majors/{major}/restore:
    post:
      parameters:
        - schema:
            type: integer
          name: major
          in: path
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MajorResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Restore major
      tags:
        - Major
  /api/subjects:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subject'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SubjectResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error
      summary: Create subject
      tags:
        - Subject
    get:
      parameters:
        - schema:
            type: boolean
          name: with_trashed
          in: query
        - schema:
            type: boolean
          name: only_trashed
          in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubjectResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Get a list of subjects
      tags:
        - Subject
  /api/subjects/search:
    post:
      parameters:
        - schema:
            type: boolean
          name: with_trashed
          in: query
        - schema:
            type: boolean
          name: only_trashed
          in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubjectResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Search for subjects
      tags:
        - Subject
  /api/subjects/{subject}:
    get:
      parameters:
        - schema:
            type: integer
          name: subject
          in: path
          required: true
        - schema:
            type: boolean
          name: with_trashed
          in: query
        - schema:
            type: boolean
          name: only_trashed
          in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SubjectResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Get subject
      tags:
        - Subject
    patch:
      parameters:
        - schema:
            type: integer
          name: subject
          in: path
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subject'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SubjectResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
        '422':
          description: Validation error
      summary: Update subject
      tags:
        - Subject
    delete:
      parameters:
        - schema:
            type: integer
          name: subject
          in: path
          required: true
        - schema:
            type: boolean
          name: force
          in: query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SubjectResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Delete subject
      tags:
        - Subject
  /api/subjects/{subject}/restore:
    post:
      parameters:
        - schema:
            type: integer
          name: subject
          in: path
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SubjectResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Restore subject
      tags:
        - Subject
  /api/groups:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GroupResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error
      summary: Create group
      tags:
        - Group
    get:
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Get a list of groups
      tags:
        - Group
  /api/groups/search:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - created_at
                          - major_id
                          - join_year
                          - division
                      operator:
                        type: string
                        enum:
                          - <
                          - <=
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - not like
                          - ilike
                          - not ilike
                          - in
                          - not in
                          - all in
                          - any in
                      value:
                        type: string
                      nested:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - and
                                - or
                            field:
                              type: string
                              enum:
                                - created_at
                                - major_id
                                - join_year
                                - division
                            operator:
                              type: string
                              enum:
                                - <
                                - <=
                                - '>'
                                - '>='
                                - '='
                                - '!='
                                - like
                                - not like
                                - ilike
                                - not ilike
                                - in
                                - not in
                                - all in
                                - any in
                            value:
                              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Search for groups
      tags:
        - Group
  /api/groups/{group}:
    get:
      parameters:
        - schema:
            type: integer
          name: group
          in: path
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GroupResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Get group
      tags:
        - Group
  
  /api/groups/batch:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    $ref: '#/components/schemas/Group'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
        '422':
          description: Validation error
      summary: Create a batch of groups
      tags:
        - Group
  
  /api/books:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Book'
                - type: object
                  properties:
                    is_arabic:
                      type: boolean

      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BookResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error
      summary: Create book
      tags:
        - Book
    get:
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BookResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Get a list of books
      tags:
        - Book
  /api/books/search:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - subject_id
                          - group_id
                          - is_practical
                          - year
                          - semester
                          - created_at
                      operator:
                        type: string
                        enum:
                          - <
                          - <=
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - not like
                          - ilike
                          - not ilike
                          - in
                          - not in
                          - all in
                          - any in
                      value:
                        type: string
                      nested:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - and
                                - or
                            field:
                              type: string
                              enum:
                                - subject_id
                                - group_id
                                - is_practical
                                - year
                                - semester
                                - created_at
                            operator:
                              type: string
                              enum:
                                - <
                                - <=
                                - '>'
                                - '>='
                                - '='
                                - '!='
                                - like
                                - not like
                                - ilike
                                - not ilike
                                - in
                                - not in
                                - all in
                                - any in
                            value:
                              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BookResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Search for books
      tags:
        - Book
  /api/books/{book}:
    get:
      parameters:
        - schema:
            type: integer
          name: book
          in: path
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BookResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Get book
      tags:
        - Book
    patch:
      parameters:
        - schema:
            type: integer
          name: book
          in: path
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Book'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BookResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
        '422':
          description: Validation error
      summary: Update book
      tags:
        - Book
    delete:
      parameters:
        - schema:
            type: integer
          name: book
          in: path
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BookResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Delete book
      tags:
        - Book
  /api/books/{book}/summary:
    get:
      parameters:
        - schema:
            type: integer
          name: book
          in: path
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      book_id:
                        type: integer
                      content:
                        type: string
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Get book
      tags:
        - Book
  /api/books/{book}/quiz:
    get:
      parameters:
        - schema:
            type: integer
          name: book
          in: path
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      book_id:
                        type: integer
                      content:
                        type: string
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Get book
      tags:
        - Book
  /api/groups/{group}/members/:
    get:
      summary: Get members of a group
      tags:
        - Member
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
          description: Group ID
      responses:
        '200':
          description: OK — list of group members
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MemberResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
  /api/books/deleted:
    get:
      summary: Get soft-deleted books (cursor pagination)
      tags:
        - Book
      security:
        - BearerAuth: []
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Datetime cursor in "Y-m-d H:i:s" format. Defaults to now.
      responses:
        '200':
          description: OK — list of deleted books
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BookResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
  /api/chat/create:
    post:
      summary: Create assistant chat
      tags:
        - AssistantChat
      security:
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                books:
                  type: array
                  items:
                    type: integer
                  description: Optional list of book IDs to seed the chat
      responses:
        '200':
          description: Chat created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error

  /api/chat/{chat}:
    post:
      summary: Send message to assistant for a chat (async)
      tags:
        - AssistantChat
      security:
        - BearerAuth: []
      parameters:
        - name: chat
          in: path
          required: true
          schema:
            type: integer
          description: Assistant chat ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Message payload to send to the assistant
              required:
                - message
      responses:
        '202':
          description: Message accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: ok
        '400':
          description: Bad request
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error
  /api/assignments/deleted:
    get:
      summary: Get soft-deleted assignments (cursor pagination)
      tags:
        - Assignment
      security:
        - BearerAuth: []
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Datetime cursor in "Y-m-d H:i:s" format. Defaults to now.
      responses:
        '200':
          description: OK — list of deleted assignments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AssignmentResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized

  /api/assignments/{assignment}/deliveries:
    get:
      summary: Get deliveries for an assignment
      tags:
        - Delivery
      security:
        - BearerAuth: []
      parameters:
        - name: assignment
          in: path
          required: true
          schema:
            type: integer
          description: Assignment ID
      responses:
        '200':
          description: OK — list of deliveries for the assignment
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeliveryResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized

    post:
      summary: Create a delivery for an assignment
      tags:
        - Delivery
      security:
        - BearerAuth: []
      parameters:
        - name: assignment
          in: path
          required: true
          schema:
            type: integer
          description: Assignment ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Delivery'
      responses:
        '201':
          description: Delivery created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DeliveryResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '409':
          description: Conflict — delivery exists
        '422':
          description: Validation error

  /api/assignments/{assignment}/deliveries/search:
    post:
      summary: Search deliveries within an assignment
      tags:
        - Delivery
      security:
        - BearerAuth: []
      parameters:
        - name: assignment
          in: path
          required: true
          schema:
            type: integer
          description: Assignment ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - user_id
                          - assignment_id
                          - created_at
                      operator:
                        type: string
                        enum:
                          - '<'
                          - '<='
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - in
                          - not in
                      value:
                        type: string
      responses:
        '200':
          description: OK — search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeliveryResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error

  /api/assignments/{assignment}/deliveries/{delivery}:
    get:
      summary: Get a specific delivery for an assignment
      tags:
        - Delivery
      security:
        - BearerAuth: []
      parameters:
        - name: assignment
          in: path
          required: true
          schema:
            type: integer
        - name: delivery
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/DeliveryResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found

    delete:
      summary: Delete a delivery from an assignment
      tags:
        - Delivery
      security:
        - BearerAuth: []
      parameters:
        - name: assignment
          in: path
          required: true
          schema:
            type: integer
        - name: delivery
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Delivery deleted
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found

  /api/groups/{group}/assignments:
    post:
      summary: Create an assignment for a group
      tags:
        - Assignment
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
          description: Group ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Assignment'
                - type: object
                  properties:
                    due_date:
                      type: string
                      format: date-time
      responses:
        '201':
          description: Assignment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AssignmentResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error
    get:
      summary: Get assignments for a group
      tags:
        - Assignment
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
          description: Group ID
      responses:
        '200':
          description: OK — list of assignments for the group
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AssignmentResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized

  /api/groups/{group}/assignments/search:
    post:
      summary: Search assignments within a group
      tags:
        - Assignment
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
          description: Group ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - due_date
                          - subject_id
                          - group_id
                          - created_at
                      operator:
                        type: string
                        enum:
                          - '<'
                          - '<='
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - not like
                          - ilike
                          - not ilike
                          - in
                          - not in
                      value:
                        type: string
      responses:
        '200':
          description: OK — search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AssignmentResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error

  /api/groups/{group}/assignments/{assignment}:
    get:
      summary: Get specific assignment for a group
      tags:
        - Assignment
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
        - name: assignment
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AssignmentResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found

    delete:
      summary: Delete an assignment from a group
      tags:
        - Assignment
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
        - name: assignment
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found

  /api/groups/{group}/books:
    get:
      summary: Get books for a group
      tags:
        - Book
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
          description: Group ID
        - name: year
          in: query
          required: false
          schema:
            type: integer
          description: Filter books by year (optional)
      responses:
        '200':
          description: OK — list of books for the group
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BookResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized

  /api/groups/{group}/books/search:
    post:
      summary: Search books within a group
      tags:
        - Book
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
          description: Group ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - subject_id
                          - year
                          - is_practical
                          - created_at
                      operator:
                        type: string
                        enum:
                          - '<'
                          - '<='
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - in
                          - any in
                      value:
                        type: string
      responses:
        '200':
          description: OK — search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BookResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error

  /api/groups/{group}/books/{book}:
    get:
      summary: Get a specific book for a group
      tags:
        - Book
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
        - name: book
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BookResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found

    delete:
      summary: Delete a book from a group
      tags:
        - Book
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
        - name: book
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found

  /api/groups/{group}/members/{user}:
    patch:
      summary: Update pivot data for a group member (e.g. representer flag)
      tags:
        - Member
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
          description: Group ID
        - name: user
          in: path
          required: true
          schema:
            type: integer
          description: User ID to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_representer:
                  type: boolean
      responses:
        '200':
          description: Member updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
        '422':
          description: Validation error
    post:
      summary: Attach a user to a group (add member)
      tags:
        - Member
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
          description: Group ID
        - name: user
          in: path
          required: true
          schema:
            type: integer
          description: User ID to attach
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                is_representer:
                  type: boolean
                  description: "Optional: mark user as representer in the group"
      responses:
        '201':
          description: User attached to group
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error

    delete:
      summary: Detach a user from a group (remove member)
      tags:
        - Member
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
          description: Group ID
        - name: user
          in: path
          required: true
          schema:
            type: integer
          description: User ID to detach
      responses:
        '200':
          description: User detached from group
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found

  /api/groups/{group}/teachers/:
    get:
      summary: Get teachers of a group (includes subject from pivot)
      tags:
        - Teacher
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
          description: Group ID
      responses:
        '200':
          description: OK — list of teachers with subject info
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/UserResource'
                        - type: object
                          properties:
                            subject:
                              $ref: '#/components/schemas/Subject'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized

  /api/groups/{group}/teachers/{user}:
    post:
      summary: Attach a teacher to a group (assign subject)
      tags:
        - Teacher
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
          description: Group ID
        - name: user
          in: path
          required: true
          schema:
            type: integer
          description: User ID to attach as teacher
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subject_id:
                  type: integer
                  description: Subject ID to assign (required)
              required:
                - subject_id
      responses:
        '201':
          description: Teacher attached to group
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error

    delete:
      summary: Detach a teacher from a group (remove assignment)
      tags:
        - Teacher
      security:
        - BearerAuth: []
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: integer
          description: Group ID
        - name: user
          in: path
          required: true
          schema:
            type: integer
          description: User ID to detach
      responses:
        '200':
          description: Teacher detached from group
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
    
  /api/assignments:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Assignment'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AssignmentResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error
      summary: Create assignment
      tags:
        - Assignment
    get:
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AssignmentResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Get a list of assignments
      tags:
        - Assignment
  /api/assignments/search:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - due_date
                          - subject_id
                          - group_id
                          - created_at
                      operator:
                        type: string
                        enum:
                          - <
                          - <=
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - not like
                          - ilike
                          - not ilike
                          - in
                          - not in
                          - all in
                          - any in
                      value:
                        type: string
                      nested:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - and
                                - or
                            field:
                              type: string
                              enum:
                                - due_date
                                - subject_id
                                - group_id
                                - created_at
                            operator:
                              type: string
                              enum:
                                - <
                                - <=
                                - '>'
                                - '>='
                                - '='
                                - '!='
                                - like
                                - not like
                                - ilike
                                - not ilike
                                - in
                                - not in
                                - all in
                                - any in
                            value:
                              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AssignmentResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Search for assignments
      tags:
        - Assignment
  /api/assignments/{assignment}:
    get:
      parameters:
        - schema:
            type: integer
          name: assignment
          in: path
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AssignmentResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Get assignment
      tags:
        - Assignment
    patch:
      parameters:
        - schema:
            type: integer
          name: assignment
          in: path
          required: true
      requestBody:
        content:
          application/json:
            schema:
              properties:
                due_date:
                  type: string
                  format: date-time
                      
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AssignmentResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
        '422':
          description: Validation error
      summary: Update assignment
      tags:
        - Assignment
    delete:
      parameters:
        - schema:
            type: integer
          name: assignment
          in: path
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AssignmentResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '404':
          description: Resource not found
      summary: Delete assignment
      tags:
        - Assignment
  
  /api/users:
    get:
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Get a list of users
      tags:
        - User
  /api/users/me:
    get:
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserResource'

        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Get current user data
      tags:
        - User
  /api/users/me/groups:
    get:
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
      summary: Get groups for current user
      tags:
        - Group

  /api/colleges/{college}/majors:
    get:
      summary: Get majors for a college
      tags:
        - College
      security:
        - BearerAuth: []
      parameters:
        - name: college
          in: path
          required: true
          schema:
            type: integer
          description: College ID
      responses:
        '200':
          description: OK — list of majors for the college
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MajorResource'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized

  /api/colleges/{college}/majors/search:
    post:
      summary: Search majors within a college
      tags:
        - College
      security:
        - BearerAuth: []
      parameters:
        - name: college
          in: path
          required: true
          schema:
            type: integer
          description: College ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - and
                          - or
                      field:
                        type: string
                        enum:
                          - name
                          - college_id
                          - created_at
                      operator:
                        type: string
                        enum:
                          - < 
                          - <=
                          - '>'
                          - '>='
                          - '='
                          - '!='
                          - like
                          - not like
                          - ilike
                          - not ilike
                          - in
                          - not in
                          - all in
                          - any in
                      value:
                        type: string
                      nested:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - and
                                - or
                            field:
                              type: string
                              enum:
                                - name
                                - college_id
                                - created_at
                            operator:
                              type: string
                              enum:
                                - < 
                                - <=
                                - '>'
                                - '>='
                                - '='
                                - '!='
                                - like
                                - not like
                                - ilike
                                - not ilike
                                - in
                                - not in
                                - all in
                                - any in
                            value:
                              type: string
      responses:
        '200':
          description: OK — search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MajorResource'
                  links:
                    $ref: '#/components/schemas/ResourceLinks'
                  meta:
                    $ref: '#/components/schemas/ResourceMeta'
        '401':
          description: Unauthenticated
        '403':
          description: Unauthorized
        '422':
          description: Validation error
  /api/users/search:
    post:
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
[...]
